<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aust_classroom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SignupActivityTeacher"></activity>
        <activity android:name=".LoginActivityTeacher" />
        <activity android:name=".CseY2S2CgActivity" />
        <activity android:name=".CgpaYearSemWiseActivity" />
        <activity android:name=".CalculateGPAActivity" />
        <activity android:name=".CseShowPdfListActivity" />
        <activity android:name=".CseDiscussionActivity" />
        <activity android:name=".CseCoursesActivity" />
        <activity android:name=".CseY2S2Activity" />
        <activity android:name=".CSEActivity" />
        <activity android:name=".IumsActivity" />
        <activity android:name=".ForgetPassActivity" />
        <activity android:name=".GenNoticeActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".DepartmentsActivity" />
        <activity
            android:name=".HomeActivity2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EduNoticeActivity" /> <!-- <activity android:name=".HomeActivity" /> -->
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>